@import "../../themes/colour-variable";

@mixin side-nav-icons {
    .icon-calender:before {
        color: $header-font-colour;
    }

    .icon-dashboard:before {
        color: $header-font-colour;
    }

    .icon-speed:before {
        color: $header-font-colour;
    }

    .icon-document:before {
        color: $header-font-colour;
    }

    .icon-search:before {
        color: $header-font-colour;
    }

    .icon-team:before {
        color: $header-font-colour;
    }

    &:hover {
        .icon-calender:before {
            color: $pure-white;
        }

        .icon-dashboard:before {
            color: $pure-white;
        }

        .icon-speed:before {
            color: $pure-white;
        }

        .icon-document:before {
            color: $pure-white;
        }

        .icon-search:before {
            color: $pure-white;
        }

        .icon-team:before {
            color: $pure-white;
        }
    }
}

@mixin request-wrapper {
    height: 118px;
    box-shadow: 6px 6px 10px $box-shadow;
    border-radius: 7px;
    opacity: 1;

    &:not(:first-child) {
        margin-top: 1rem;
    }
}

@mixin input-wrapper {
    width: 100%;
    color: $pure-white;
    background: transparent;
    font-weight: 300;
    border-radius: 11px;
    border: 1px solid $pure-white;
    height: 46px;
    font-size: 16px;
    max-height: 46px;
    padding: 6px 14px;
    padding-left: 46px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;

    &::placeholder {
        color: $pure-white;
        font-weight: 300;
    }

    &:focus {
        outline: unset;
        box-shadow: unset;
    }
}
