// font colours
$header-font-colour: #7e7e7e;
$request-content-colour: #5b5b5b;
$sub-header: #8b8b8b;
$progress-header: #9ea0a2;
$footer-header: #afafaf;

// function colours
$heigher-bright-blue: #51b1fd;
$bright-blue: #4ba7fd;
$light-blue: #c6e2ff;
$lower-light-blue: #ebf5ff;
$lower-light-green: #f3fff6;
$lower-light-pink: #fff6f6;
$pure-white: #fff;
$box-shadow: #00000029;

$request-background: #dfdfdf;
$batch-primary: #a1d9ff;
$batch-green: #a8e6b4;
$batch-red: #ffd5d5;

// menu item backgrounds
$menu-item-background: transparent linear-gradient(102deg, #65b1ff 0%, #8083fe 100%) 0% 0% no-repeat padding-box;
