@import "../../../styles/utils/mixins/common-mixins";
@import "../../../styles/utils/responsive";
@import "../../../styles/themes/colour-variable";

.layout-content {
  mat-sidenav-container {
    width: 100vw;
    background: $dashboard-content-background 0% 0% no-repeat padding-box;

    mat-sidenav {
      width: 25.6rem;

      .header-section {
        margin-top: 2rem;

        &:not(:last-child) {
          img {
            margin-right: 1rem;
          }
        }

        h1 {
          color: $font-common-pure-black;
          font-size: 2.3rem;
          font-weight: bold;
        }
      }

      .recuest-content {
        height: 4.5rem;
        background: $light-blue 0% 0% no-repeat padding-box;
        border-radius: 1.2rem;
        margin: 0 1.5rem;
        opacity: 1;
        margin-top: 2rem;
        cursor: pointer;

        > mat-icon {
          margin-left: 2rem;
          margin-right: 1rem;
          color: $font-light-blue;
          font-weight: 500;
        }

        > h3 {
          color: $font-bright-blue;
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }

    mat-sidenav-content {
      .dashboard-content {
        opacity: 1;
        padding: 20px;
        max-height: calc(100% - 105px);
        overflow-y: auto;
        height: 100%;
        
        @include respond(phone) {
          max-height: calc(100% - 76px);
          padding: 10px;
        }
      }
    }
  }
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
  font-size: 1.5rem;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
