<div class="layout-content vh-100 flex flex-row">
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="mat-elevation-z3" [mode]="mode" [opened]="opened" [autoFocus]="true">
            <div class="header-section flex flex-row flex-justify-center flex-align-center">
                <img src="../../../assets/icons/mms-side-header.svg" alt="mms-side-header">
                <h1>{{'dashboardModule.sidenavHeader'|transloco}}</h1>
            </div>
            <div class="recuest-content flex flex-row flex-align-center" (click)="routeToRequestBoard()">
                <mat-icon>add</mat-icon>
                <h3 class="ml-2">{{'dashboardModule.newRequestButtonLable'|transloco}}</h3>
            </div>
            <mat-nav-list>
                <menu-items [menuItems]="menuItems"></menu-items>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <top-tool-bar [sidenav]="sidenav"></top-tool-bar>
            <div class="dashboard-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>