<div class="header-section flex flex-justify-space-between flex-align-center">
    <h1>{{'dashboardModule.dashboardMainHeader'|transloco}}</h1>
    <div class="filtering-tiles flex">
        <ul class="flex flex-row">
            <li>Today</li>
            <li>Last 7 days</li>
            <li>Last 30 days</li>
            <li>Last 90 days</li>
            <li>All time </li>
            <li>
                <span class="icon-calender"></span>
            </li>
        </ul>
    </div>
</div>

<div class="widget-container">
    <div class="widget-container--body" *ngFor="let chart of chartData">
        <fusioncharts [id]="chart?.id" [type]="chart?.chartType" [width]="chart?.width" [height]="chart?.height"
            [dataFormat]="chart?.dataFormat" [dataSource]="chart?.dataSource">
        </fusioncharts>
    </div>
</div>

<div class="job-request-board">
    <div class="job-request-board--header flex flex-justify-space-between flex-align-center">
        <h1>{{'dashboardModule.requestHeader'|transloco}}</h1>
        <div class="view-actions flex flex-align-center">
            <span class="icon-list"></span>
            <span class="icon-menu"></span>
            <span class="icon-maximize"></span>
        </div>
    </div>
    <div *ngIf="jobRequestData && jobRequestData.length > 0">
        <div class="job-request-board__content" *ngFor="let groupedJobs of jobRequestData | groupBy:'jobRequestType'">
            <div *ngFor="let key of keys(groupedJobs)">
                <div class="job-request-board--body" *ngFor="let job of groupedJobs[key]">
                    <div class="request">
                        <div class="request--header flex flex-justify-space-between flex-align-center">
                            <h3>{{job?.mainHeader}}</h3>
                            <img [src]="job?.imgSource" [alt]="job?.mainHeader">
                        </div>
                        <div class="request--{{request?.className}}" *ngFor="let request of job?.jobRequests">
                            <div class="flex flex-justify-space-between flex-align-center p-1">
                                <div class="flex clock-section">
                                    <img [src]="request?.clockImgSource" alt="clock">
                                    <p class="ml-0-5">{{request?.dateAndTime}}</p>
                                </div>
                                <div class="badge badge--{{request?.className}}">
                                    {{request?.requestType}}
                                </div>
                            </div>
                            <span class="content pxy-0-1">{{request?.requestDescription}}</span>
                            <div class="progress-header flex flex-justify-space-between pxy-0-1">
                                <p>Progress</p>
                                <p>{{request?.progress}}%</p>
                            </div>
                            <div class="flex pxy-0-1">
                                <mat-progress-bar mode="determinate" [value]="request?.progress"> </mat-progress-bar>
                            </div>
                            <div class="content-footer flex flex-justify-space-between pxy-5">
                                <p>R. ID : {{request?.rId}}</p>
                                <div
                                    class="flex flex-justify-space-between flex-align-center content-footer--sub-content">
                                    <span [class]="request?.commentIcon"></span>
                                    <span class="message-content">{{request?.totalComments}}</span>
                                    <span [class]="request?.attachIcon"></span>
                                    <span class="message-content">{{request?.totalAttaches}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>