@font-face {
    font-family: 'icomoon';
    src:  url('../../assets/fonts/icomoon.eot?dz44s5');
    src:  url('../../assets/fonts/icomoon.eot?dz44s5#iefix') format('embedded-opentype'),
      url('../../assets/fonts/icomoon.ttf?dz44s5') format('truetype'),
      url('../../assets/fonts/icomoon.woff?dz44s5') format('woff'),
      url('../../assets/fonts/icomoon.svg?dz44s5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-speed:before {
    content: "\e900";
  }
  .icon-analytics:before {
    content: "\e901";
  }
  .icon-Component-10--9:before {
    content: "\e902";
  }
  .icon-description:before {
    content: "\e903";
  }
  .icon-Engineering:before {
    content: "\e904";
  }
  .icon-exclamation:before {
    content: "\e905";
  }
  .icon-google-docs:before {
    content: "\e906";
  }
  .icon-Group-350:before {
    content: "\e907";
  }
  .icon-Group-655:before {
    content: "\e908";
  }
  .icon-icon_calendar:before {
    content: "\e909";
  }
  .icon-icon_dashboard:before {
    content: "\e90a";
  }
  .icon-information:before {
    content: "\e90b";
  }
  .icon-Layer_x0020_1:before {
    content: "\e90c";
  }
  .icon-list:before {
    content: "\e90d";
  }
  .icon-menu:before {
    content: "\e90e";
  }
  .icon-paperclip:before {
    content: "\e90f";
  }
  .icon-photo:before {
    content: "\e910";
  }
  .icon-qr-code-1:before {
    content: "\e911";
  }
  .icon-qr-code:before {
    content: "\e912";
  }
  .icon-search:before {
    content: "\e913";
  }
  .icon-team:before {
    content: "\e914";
  }
  .icon-user:before {
    content: "\e915";
  }
  .icon-wall-clock:before {
    content: "\e916";
  }
  .icon-XMLID_1190:before {
    content: "\e917";
  }
  