@import "./responsive";

fusioncharts {
    * > svg {
        .raphael-group-wPberoTk{
            display: none;
        }

        g[class^="raphael-group-"]{
            text[fill~="#000000"],text[font-size~=".9rem"]{
                display: none;
            }
        }
    }

    @include respond(big-desktop) {
        width: 100% !important;
        height: 100% !important;
    }
}
