@import "./responsive";

fusioncharts {
    * > svg {
        box-shadow: 0.6rem 0.6rem 1rem $box-shadow !important;
        border-radius: 00.7rem !important;
        opacity: 1 !important;
    }

    @include respond(big-desktop) {
        width: 100% !important;
        height: 100% !important;
    }
}
