@mixin side-nav-icons {
    .icon-icon_calendar:before {
        color: #7e7e7e;
    }

    .icon-icon_dashboard:before {
        color: #7e7e7e;
    }

    .icon-speed:before {
        color: #7e7e7e;
    }

    .icon-google-docs:before {
        color: #7e7e7e;
    }

    .icon-search:before {
        color: #7e7e7e;
    }

    .icon-team:before {
        color: #7e7e7e;
    }

    &:hover {
        .icon-icon_calendar:before {
            color: #fff;
        }

        .icon-icon_dashboard:before {
            color: #fff;
        }

        .icon-speed:before {
            color: #fff;
        }

        .icon-google-docs:before {
            color: #fff;
        }

        .icon-search:before {
            color: #fff;
        }

        .icon-team:before {
            color: #fff;
        }
    }
}

@mixin request-wrapper {
    height: 118px;
    box-shadow: 6px 6px 10px #00000029;
    border-radius: 7px;
    opacity: 1;

    &:not(:first-child){
        margin-top: 1rem;
    }
}
