@import "./responsive";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.mat-nav-list .mat-list-item:hover {
    background: transparent linear-gradient(102deg, #65b1ff 0%, #8083fe 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #ffff !important;
}

.mat-nav-list .mat-list-item:focus {
    opacity: 1;
}

mat-progress-bar {
    &.mat-progress-bar {
        height: 6px;
        border-radius: 30px;
    }
    .mat-progress-bar-fill::after {
        background: transparent linear-gradient(90deg, #b4cdff 0%, #397bff 100%) 0% 0% no-repeat padding-box;
        border-radius: 30px;
    }

    .mat-progress-bar-buffer {
        background-color: #ffffff;
    }
}

ngx-qrcode {
    width: 100% !important;
    height: 100% !important;
    img {
        width: 70% !important;
    }
}
