<div class="auth-container flex flex-row flex-justify-center flex-align-center">
    <div class="auth-container__login">
        <div
            class="flex flex-justify-center flex-align-center flex-justify-center auth-container__login--header-section">
            <img src="../../../../assets/icons/Group 350.svg" alt="">
            <span>{{'loginModule.mainHeader'|transloco}}</span>
        </div>
        <form class="flex flex-column flex-align-center auth-container__login--body-section" autocomplete="off"
            [formGroup]="loginFormGroup">
            <div class="auth-group">
                <input type="text" class="auth-group__input auth-group__input--username"
                    [placeholder]="'loginModule.formAttributes.userName'|transloco" id="userName" name="userName"
                    formControlName="userName">
                <label class="auth-group__label"></label>
            </div>
            <div class="auth-group">
                <input type="password" class="auth-group__input auth-group__input--password"
                    [placeholder]="'loginModule.formAttributes.password'|transloco" id="password" name="password"
                    formControlName="password">
                <label class="auth-group__label"></label>
            </div>
            <div class="flex flex-justify-space-between flex-align-center remember-me">
                <mat-label>{{'loginModule.formAttributes.rememberMe'|transloco}}</mat-label>
                <mat-slide-toggle color="primary" formControlName="isRememberMe"></mat-slide-toggle>
            </div>
            <button mat-raised-button (click)="proceedLogin()"
                class="btn--login">{{'loginModule.formAttributes.loginButton'|transloco}}</button>
            <div class="flex flex-column flex-justify-space-around qr-code">
                <span class="icon-qr-code" (click)="proceedQrCode()"></span>
                <mat-label>{{'loginModule.formAttributes.qrCode'|transloco}}</mat-label>
            </div>
            <a>{{'loginModule.formAttributes.forgotPassword'|transloco}}</a>
        </form>
    </div>
</div>