@import "../../../../styles/themes/colour-variable";
@import "../../../../styles/utils/responsive";

.auth-container {
    left: 0px;
    height: 100vh;
    width: 100%;
    background: transparent url(../../../../assets/backgrounds/login-background.png) 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;

    &__login {
        max-width: 325px;
        width: 100%;
        padding: 6vmin 13vmin;
        height: max-content;

        height: auto;
        position: relative;
        background: rgb(255 255 255 / 13%);
        backdrop-filter: blur(0.8px) brightness(78%);
        -webkit-backdrop-filter: blur(0.8px) brightness(78%);
        border-radius: 2.5rem;
        overflow: hidden;
        @include respond(tab-land) {
            width: 100%;
            margin: 0 30px;
            padding: 8vmin 8vmin;
        }

        &--header-section {
            width: 100%;
            margin-bottom: 30px;

            img{
                max-width: 30px;
            }


            > span {
                font-size: 4rem;
                color: $pure-white;
                font-weight: 500;
                margin-left: 2rem;
            }
        }

        &--body-section {
            margin-top: 1rem;

            ::ng-deep {
                .mat-form-field-appearance-outline .mat-form-field-outline {
                    color: $pure-white;
                }
                mat-form-field {
                    width: 80%;
                    .mat-hint,
                    input,
                    ::placeholder,
                    .mat-form-field-label {
                        color: $pure-white;
                    }
                }
            }

            .remember-me {
                width: 100%;
                margin-bottom: 10px;
            }

            mat-label {
                color: $pure-white;
            }

            .qr-code {
                height: 8rem;
                margin: 30px 0;

                > img {
                    cursor: pointer;
                }

                mat-label{
                    font-weight: 300;
                }
            }

            a {
                text-decoration: underline;
                font: normal normal 300 15px/20px Roboto;
                letter-spacing: 0px;
                color: $pure-white;
                cursor: pointer;
            }
        }
    }
}


.auth-group{
    width: 100%;
    position: relative;
    &__input{
        width: 100%;
        color: #ffffff;
        background: transparent;
        font-weight: 300;
        border-radius: 11px;
        border: 1px solid #ffffff;
        height: 46px;
        font-size: 16px;
        max-height: 46px;
        padding: 6px 14px;
        padding-left: 46px;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 20px;

        &::placeholder{
            color: #ffffff;
            font-weight: 300;
        }

        &:focus {
            // border: none;
            outline: unset;
            box-shadow: unset;
          }
        
    }

    &__input+&__label{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(50%);
        &::before{
            font-family: 'icomoon';
            position: absolute;
            left: 20px;
            top:0;
            transform: translateY(65%);
            font-size: 16px;
            color: #ffffff;
            pointer-events: none;
        }
    }

    &__input--username+&__label{
        &::before{
        content: '\e927';
        }
    }
    &__input--password+&__label{
        &::before{
        content: '\e929';
        }
    }
}

.btn{
    &--login{
        width: 100%;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 11px;
        padding: 4px;
        font-size: 16px;
        font-weight: 300;
        background: rgb(125 125 125 / 90%);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    }
}